.filters {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filters .button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 2rem;
}

.filters__panel > * {
  margin-right: 2rem;
}

.filters__title {
  font-size: 1.6rem;
  line-height: 1.3em;
}

@media (max-width: 600px) {
  .filters__panel > * {
    margin-right: 1rem;
  }

  .filters .button {
    width: 100%;
    max-width: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .filters__column--expanded {
    width: 100%;
    text-align: center;
  }
}
