.scroll-to-top {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
  .scroll-to-top {
    bottom: 25px;
    right: 25px;
  }
}
