.advisors-list .r-column {
  width: calc(100% / 3 - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.advisors-container__footer {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* .advisors-container__footer .spinner {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
} */

@media (max-width: 991px) {
  .advisors-list .r-column {
    width: calc(100% / 2 - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 600px) {
  .advisors-list .r-column {
    width: calc(100% / 1 - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
  }
}