.card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  text-align: center;
  border-radius: 5px;
  height: 100%;
}

.card__body {
  flex-grow: 1;
}

.card__body * {
  margin-bottom: 1rem;
}

.card__image {
  width: 120px;
  height: 120px;
  opacity: 0.5;
}

.card__footer {
  background-color: #2b2f38;
  color: #fff;
}

.card-meta {
  display: flex;
  justify-content: space-between;
}

.card__row {
  width: 100%;
  padding: 1rem;
}
