.meta-item {
  display: flex;
  align-items: center;
}

.meta-item__icon {
  margin-right: 0.5rem;
}

.meta-item__title {
  font-size: 1rem;
  line-height: 1.3em;
}

.meta-item__desc {
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.3em;
}