.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
}

footer {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
  text-align: center;
}

main {
  padding-top: 100px;
}

.container {
  width: 100%;
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 3rem;
  line-height: 1.3em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.r-row {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
}

.r-row.r-row--wrap {
  flex-wrap: wrap;
}

.r-row.r-row--justify-start {
  justify-content: flex-start;
}

.r-column {
  width: 100%;
}

.r-column-3 {
  width: calc(100% / 3 - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.image-wrapper {
  width: 100%;
}

.row {
  width: 100%;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color:#2b2f38;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.button:active {
  background-color: #000;
}

.text-center {
  text-align: center;
}

.spinner {
  animation: spin infinite 1s linear;
}

select {
  text-transform: capitalize;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
